.venv/
.conda/
__pycache__/
*.pyc
*.pyo
*.log
*.sqlite3
*.env
*.DS_Store
*.ipynb_checkpoints/
model/save/
data/interpolated_spatial_data/*.json
data/Stryn/*.tiff
data/graphs/
*.tiff
*.nat
*.json
*.shp
*.dbf
data/Norway_shapefile/*
*.cache.sqlite
*.csv.cache.sqlite
*.csv
*.cache
*.cache.json.cache.sqlite
data/*